In [1]:
import pandas as pd
import numpy as np
v1 = []
v1.append(5)
v1[0]

5

In [2]:
v1.append(6)
v1.clear()
v1

[]

In [3]:
np.random.randn(4)

array([ 0.640122  , -0.36506118, -0.9806156 ,  0.93129719])

In [4]:
k = 5
x = pd.DataFrame(columns=[i for i in range(k)])
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
x.loc[0] = list1
x.loc[1] = list2
x

   0  1  2  3  4
0  1  2  3  4  5
1  4  5  6  7  8

In [5]:
for i in range(3):
    print(i)

0
1
2

In [6]:
df = pd.DataFrame({'key': ['K6', 'K1', 'K2', 'K3', 'K4', 'K5'], 'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
other = pd.DataFrame({'key': ['K0', 'K1', 'K2'], 'A': ['B0', 'B1', 'B2']})
df.join(other.set_index('key'), on='key', how='inner', rsuffix="_right")

  key   A A_right
1  K1  A1      B1
2  K2  A2      B2

In [7]:
col = [i for i in range(10)]
col.insert(0, "sk_id")
col

['sk_id', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]