In [2]:
import pandas as pd
import numpy as np

list1 = [8, 8, 6, 5, 4, 3, 2, 1]
list2 = [1, 2, 3, 3, 5, 6, 7, 8]
d = {'A': list1, 'B': list2}
df = pd.DataFrame(data=d)
df

   A  B
0  8  1
1  8  2
2  6  3
3  5  3
4  4  5
5  3  6
6  2  7
7  1  8

In [5]:
rank = df[['A', 'B']].rank(axis=0, method="dense", ascending=False)
rank["sum"] = rank.sum(axis=1)
rank.sort_values(by=["sum", "A"], ascending=[True, True])
rank

     A    B  sum
0  1.0  7.0  8.0
1  1.0  6.0  7.0
2  2.0  5.0  7.0
3  3.0  5.0  8.0
4  4.0  4.0  8.0
5  5.0  3.0  8.0
6  6.0  2.0  8.0
7  7.0  1.0  8.0

In [10]:
r = rank[['A', 'B']]
r

     A    B
0  1.0  7.0
1  1.0  6.0
2  2.0  5.0
3  3.0  5.0
4  4.0  4.0
5  5.0  3.0
6  6.0  2.0
7  7.0  1.0